header {
    font-size: 50px;
    text-align: center;
    color: rgb(15, 13, 13);
}

body{
    background-color: #F5F5DC;
}

.nav-links ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
  }
  
  .nav-links li {
    float: left;
  }
  
  .nav-links li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  .nav-links li a:hover:not(.active) {
    background-color: #111;
  }
  
  .active {
    background-color: #04AA6D;
  }

.menu ol{
    font-size: 25px;
}

.menu img{
  position: absolute;
  top: 28%;
  left: 30%;
  width: 500px;
  height: 450px;
  border: 3px solid #0a0c07;
}

.cafe img {
    position: absolute;
  top: 28%;
  left: 65%;
  width: 500px;
  height: 450px;
  border: 3px solid #090a08;
}

.menu h2{
  font-size: 30px;
  color: rgb(255, 255, 255);
  width: 130px;
  height: 50px;
  background: rgb(10, 9, 9);
  transition: width 2s;
  transition-property: width;
  transition-duration: 2s;
  transition-delay: 1s;
  transition-timing-function: linear;
}

.menu h2:hover {
  width: 300px;
}

.pizza img{
  position: absolute;
  top: 110%;
  left: 30%;
  width: 500px;
  height: 450px;
  border: 3px solid #0a0c07;
}

.burger img {
position: absolute;
top: 110%;
left: 65%;
width: 500px;
height: 450px;
border: 3px solid #090a08;
}

